@model Encyclopedia_Of_Laws.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Lawyer Registration";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Layout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Layout/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Layout/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center" style="width: 50%">

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create a Lawyer Account</h5>
                                        <p class="text-center small">Enter your personal data to create an account</p>
                                    </div>

                                    <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="form-group col-6">
                                            <label asp-for="FirstName">First Name</label>
                                            <input asp-for="FirstName" class="form-control" maxlength="100" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-6">
                                            <label asp-for="LastName">Last Name</label>
                                            <input asp-for="LastName" class="form-control" maxlength="100" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="UserName"></label>
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12" style="display: none;">
                                            <label asp-for="Role" class="control-label"></label>
                                            <select asp-for="Role" class="form-control">
                                                <option value="Lawyer" selected>Lawyer</option>
                                            </select>
                                            <span asp-validation-for="Role" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="ConfirmPassword"></label>
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="Gender"></label>
                                            <select asp-for="Gender" class="form-control">
                                                <option value="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="DateOfBirth">Birth Date</label>
                                            <input asp-for="DateOfBirth" class="form-control" type="date" />
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                        @* <div class="form-group col-6">
                                            <label asp-for="Country"></label>
                                            <input asp-for="Country" class="form-control" />
                                            <span asp-validation-for="Country" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label asp-for="City"></label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-danger"></span>
                                        </div> *@
                                        <div class="form-group col-12">
                                            <label asp-for="Address"></label>
                                            <input asp-for="Address" class="form-control" maxlength="100" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-6">
                                            <label asp-for="LawyerInfo.Lat"></label>
                                            <input asp-for="LawyerInfo.Lat" class="form-control" />
                                            <span asp-validation-for="LawyerInfo.Lat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label asp-for="LawyerInfo.Long"></label>
                                            <input asp-for="LawyerInfo.Long" class="form-control" />
                                            <span asp-validation-for="LawyerInfo.Long" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="CitizenshipNumber"></label>
                                            <input asp-for="CitizenshipNumber" class="form-control" maxlength="100" />
                                            <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="LicenseNumber"></label>
                                            <input asp-for="LicenseNumber" class="form-control" maxlength="100" />
                                            <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="Specialization"></label>
                                            <select asp-for="Specialization" class="form-control">
                                                <option value="">Select Specialization</option>
                                                <option value="Business Law">Business Law</option>
                                                <option value="Family Law">Family Law</option>
                                                <option value="Real Estate Law">Real Estate Law</option>
                                                <option value="Juricial Law">Juricial Law</option>
                                                <option value="Criminal Law">Criminal Law</option>
                                                <option value="Personal Injury">Personal Injury</option>
                                            </select>
                                            @* <input asp-for="Specialization" class="form-control" maxlength="100" /> *@
                                            <span asp-validation-for="Specialization" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="LawyerInfo.JopDescription">Job Description</label>
                                            <input asp-for="LawyerInfo.JopDescription" class="form-control" maxlength="100" />
                                            <span asp-validation-for="LawyerInfo.JopDescription" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-12">
                                            <label asp-for="LawyerInfo.Information">Experience Info</label>
                                            <input asp-for="LawyerInfo.Information" class="form-control" maxlength="100" />
                                            <span asp-validation-for="LawyerInfo.Information" class="text-danger"></span>
                                        </div>

                                        <div class="custom-file">
                                            <input asp-for="ProfilePicture" class="form-control custom-file-input"
                                                   type="file"
                                                   accept="image/*"
                                                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])">
                                            <label class="custom-file-label">Choose Profile Picture...</label>
                                        </div>

                                        <div class="custom-file">
                                            <input asp-for="CitizenshipPhoto" class="form-control custom-file-input"
                                                   type="file"
                                                   accept="image/*"
                                                   onchange="document.getElementById('CitizenshipPhoto').src = window.URL.createObjectURL(this.files[0])">
                                            <label class="custom-file-label">Choose Citizenship Picture...</label>
                                        </div>

                                        <div class="custom-file">
                                            <input asp-for="LicensePhoto" class="form-control custom-file-input"
                                                   type="file"
                                                   accept="image/*"
                                                   onchange="document.getElementById('LicensePhoto').src = window.URL.createObjectURL(this.files[0])">
                                            <label class="custom-file-label">Choose License Photo...</label>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Layout/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Layout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Layout/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/Layout/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Layout/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Layout/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Layout/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Layout/assets/vendor/php-email-form/validate.js"></script>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Layout/assets/js/main.js"></script>

</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}