@{
    Layout = null;
}

@* <link rel="stylesheet" href="/css/main.css"> *@

<h3>
    Please check your email to confirm your account.
</h3>


<div class="col">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Requests</a>
</div>
