@model Request



<form asp-action="EditByUser" asp-controller="Request">

    <div class="modal fade" id="verticalycentered Request" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddReviewLabel">@(Model.RequestId > 0 ? "Edit" : "Add") Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-12">
                        <input asp-for="RequestId" type="hidden" />
                        <input asp-for="LawyerId" type="hidden" />
                        <input asp-for="UserId" type="hidden" />
                        <input asp-for="RequestDate" type="hidden" />
                        <input asp-for="AssignedDate" type="hidden" />
                        <input asp-for="RequestStatus" type="hidden" />
                        <input asp-for="ReviewStatus" type="hidden" />
                        <input asp-for="Review" type="hidden" />
                        <input asp-for="ReviewDate" type="hidden" />
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Subject" class="form-control" id="floatingName" placeholder="Subject">
                            <label asp-for="Subject">Subject</label>
                        </div>
                    </div>

                    <br />

                    <div class="col-12">
                        <div class="form-floating">
                            <textarea asp-for="Message" class="form-control" placeholder="Message" id="floatingTextarea" style="height: 100px;"></textarea>
                            <label asp-for="Message">Message</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div><!-- End Vertically centered Modal-->


</form>


@section Scripts {

    <script>

    </script>
}