@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <h5>
            Request with ID = @Model cannot be found
        </h5>
        <a class="btn" href="index.html">Back to home</a>
        <br />
        <a asp-controller="Request" asp-action="GetRequestsByUser" class="btn"
           style="width:auto">Click here to see the list of all Requests</a>
    </section>

</div>
