@model Encyclopedia_Of_Laws.Models.Request

@{
    ViewData["Title"] = "SendRequest";
}

<div class="pagetitle">
    <h1>Send Request</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="UserHome">Home</a></li>
            <li class="breadcrumb-item">Lawyers</li>
            <li class="breadcrumb-item active">Send request</li>
        </ol>
    </nav>
</div><!-- End Page Title -->



<div class="card">

    <div class="card-body">

        <form method="post" asp-action="SendRequest" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12">
                <input asp-for="LawyerId" value="ViewBag.LawyerId" type="hidden" />
                <input asp-for="UserId" value="ViewBag.UserId" type="hidden" />
                <input asp-for="RequestDate" type="hidden" />
                <input asp-for="ReviewStatus" type="hidden" />
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Subject" class="form-control" id="floatingName" placeholder="Subject">
                    <label asp-for="Subject">Subject</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea asp-for="Message" class="form-control" placeholder="Message" id="floatingTextarea" style="height: 100px;"></textarea>
                    <label asp-for="Message">Message</label>
                </div>
            </div>

            <br />
            <div class="text-center">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>

        </form>

    </div>

</div>


