@model Encyclopedia_Of_Laws.Models.Request

@{
    ViewData["Title"] = "AddReview";
}

<link href="~/starRating/starstyle.css" rel="stylesheet" />

<h1>AddReview</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReview" asp-controller="Review">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12">
                <input asp-for="RequestId" type="hidden" />
                <input asp-for="LawyerId" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <input asp-for="RequestDate" type="hidden" />
                <input asp-for="AssignedDate" type="hidden" />
                <input asp-for="RequestStatus" type="hidden" />
                <input asp-for="Subject" type="hidden" />
                <input asp-for="Message" type="hidden" />
                <input asp-for="ReviewStatus" type="hidden" />
                <input asp-for="ReviewDate" type="hidden" />
            </div>

            <div class="container">
                <div class="rating-wrap">

                    <div class="center">
                        <fieldset class="rating">
                            <input asp-for="Rating" type="radio" id="star5" name="rating" value="5" class="js-star"/>
                            <label for="star5" class="full" title="5"></label>
                            <input asp-for="Rating" type="radio" id="star4" name="rating" value="4" class="js-star"/>
                            <label for="star4" class="full" title="4"></label>
                            <input asp-for="Rating" type="radio" id="star3" name="rating" value="3" class="js-star"/>
                            <label for="star3" class="full" title="3"></label>
                            <input asp-for="Rating" type="radio" id="star2" name="rating" value="2" class="js-star"/>
                            <label for="star2" class="full" title="2"></label>
                            <input asp-for="Rating" type="radio" id="star1" name="rating" value="1" class="js-star"/>
                            <label for="star1" class="full" title="1"></label>
                        </fieldset>
                    </div>

                    <h4 id="rating-value"></h4>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script>

        let star = document.querySelectorAll('.js-star');
        let showValue = document.querySelector('#rating-value');

        for (let i = 0; i < star.length; i++) {
            star[i].addEventListener('click', function () {
                i = this.value;

                showValue.innerHTML = i + " out of 5";
            });
        }

    </script>
}