@model Encyclopedia_Of_Laws.ViewModels.LawyerViewModel

@{
    ViewData["Title"] = "GetAllLawyerReviews";
}


<div class="pagetitle">
    <h1>View Lawyer Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Lawyers</li>
            <li class="breadcrumb-item active">Lawyer profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/Layout/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">

                <h2> @Html.DisplayFor(model => model.JopDescription) </h2>
                        <h3> </h3>


                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                        <br />
                        <div class="text-center">
                            <a class="btn btn-primary" asp-controller="Request" asp-action="SendRequest" asp-route-id="@Model.UserId">Send Request</a>
                        </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" style="padding-top: initial !important;">

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="LawyerInfo" asp-action="Details" asp-route-id="">Overview</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="LawyerInfo" asp-action="Details" asp-route-id="@Model.UserId">Overview</a>
                            </li>

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-review">Reviews</button>
                        </li>


                    </ul>
                    <div class="tab-content pt-2">

                        <div class="profile-edit pt-3" id="profile-review" style="padding-top: initial !important;">

                        ffff
                        </div>
                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




